.castContainer {
  padding: 10px;
}

.cast {
  padding: 0;
  margin: 0;

  list-style: none;
  max-width: calc(100% - 64px);

  margin-left: auto;
  margin-right: auto;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
}
